section {

  background-color: #949AFF;
  transition: background 1s ease;

}


html {
  scroll-behavior: smooth;
}

.hero{
  height: 100vh;
  background-color: rgba(57, 38, 143,0.5);

  color: #eae3ff;
  font-size: 40px;


}

.logo {
  height: 80px;
  margin: 20px;
  transition: width 2s, height 2s, transform 2s;
}
.logo:hover{
  height: 90px;
  margin: 20px;
  transform: rotate(180deg);
}

.sub-section{
  display: flex;
  justify-content: space-around;
  padding: 60px;
  font-family: "Roboto Slab";
}

.headshot{
  width: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 20px #39268F;
  transition: width 1s, box-shadow 0.3s, transform 0.3s;
}

.headshot:hover{
  width: 310px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px #39268F;
}

.headshot-container{
  display: flex;
  align_items: center;
}

.sub-section-alternative{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

footer {

  background-color: #6758DA;
  color: #eae3ff;
  text-align: center;
  padding: 80px;
}

.contact{
  color: #eae3ff;
}

nav{
  display: flex;
  justify-content: space-between;
}

ul{
  display: flex;
  list-style-type: none;
  width: 600px;
  justify-content: space-around;
  font-size: 30px;

}
li:hover{
  font-size: 25px;

}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;


}

.hero-text{
  margin-left: 60px;
}
li {
  font-size: 20px;
  text-decoration: none;
  transition: font-size 0.3s, transform 0.3s;
}


h1{
  font-size: 80px;
  margin: 0;
}

p{
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  color: #1b142f
}

.sous-titre-principal{
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  color: #a396c7
}

.hero-area{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.button{
  font-size: 33px;
  width: 200px;
  height:60px;
  border-radius: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9f7fe9;
  transition: width 1s, transform 1s;
}

.button:hover{
  width: 250px;

}


.reseau{
  margin: 10px;
  width: 50px;
  height: 50px;
  transition: width 1s, height 1s, margin 1.5s, transform 1s;
}

.reseau:hover{
  margin: -2px;
}

h2{
  font-size: 50px;
  color: #1b142f;

}

h3{
  font-size: 25px;
  color: #1b142f;
}
.sous-texte{
  font-size: 15px;
  transition: font-size 1s, transform 2s;

}

.projet-image{

  margin-top: 25px;
  width: 250px;
  height: auto;
  border-radius: 25px;
  box-shadow: 3px 3px 20px #28167E;
}

.mes-projets{
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px #39268F;
  border-radius: 10px;
  margin: 10px;
  text-decoration: none;
  background-color: #a28fdd;

  transition: box-shadow 0.3s, background-color 1s, width 1s, height 1s, transform 2s;
}


.mes-projets:hover {
    width: 400px;
    height: 500px;
    background-color: #d4c3f0;
    box-shadow: 5px 5px 30px #39268F;
}

.projets{
  display:flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  .projets {
    display: flex;
    flex-wrap:wrap;
  }
  .sub-section{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;

  }
  .mes-projets:hover {
      width: 370px;
      height: 500px;
      background-color: #d4c3f0;
      box-shadow: 5px 5px 30px #39268F;
  }


  .hero-area{
    text-align: center;
  }

  li:hover{
    font-size: 20px;

  }
  li {
    font-size: 15px;
    margin-right: 5px;


  }

  .logo {
    height: 55px;

  }
  .logo:hover{
    height: 65px;

  }
  h1 {
    font-size: 60px;
  }



}

.hr{
  margin-left: 20px;
  margin-right: 20px;
}


a{
  text-decoration: none;
  color:#eae3ff;
  scroll-behavior: smooth;

}



@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: rgba(57, 38, 143,0.8);
    overflow: hidden;
    z-index: -1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(139, 100, 191, 0.2);
    animation: animate 17s linear infinite;
}




.background li:nth-child(0) {
    left: 9%;
    width: 154px;
    height: 154px;
    bottom: -154px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 44%;
    width: 130px;
    height: 130px;
    bottom: -130px;
    animation-delay: 1s;
}
.background li:nth-child(2) {
    left: 73%;
    width: 100px;
    height: 100px;
    bottom: -100px;
    animation-delay: 10s;
}
.background li:nth-child(3) {
    left: 48%;
    width: 37px;
    height: 37px;
    bottom: -37px;
    animation-delay: 7s;
}
.background li:nth-child(4) {
    left: 8%;
    width: 183px;
    height: 183px;
    bottom: -183px;
    animation-delay: 13s;
}
.background li:nth-child(5) {
    left: 45%;
    width: 113px;
    height: 113px;
    bottom: -113px;
    animation-delay: 6s;
}
.background li:nth-child(6) {
    left: 2%;
    width: 229px;
    height: 229px;
    bottom: -229px;
    animation-delay: 26s;
}
.background li:nth-child(7) {
    left: 84%;
    width: 160px;
    height: 160px;
    bottom: -160px;
    animation-delay: 13s;
}
.background li:nth-child(8) {
    left: 80%;
    width: 228px;
    height: 228px;
    bottom: -228px;
    animation-delay: 22s;
}
.background li:nth-child(9) {
    left: 61%;
    width: 195px;
    height: 195px;
    bottom: -195px;
    animation-delay: 15s;
}
.background li:nth-child(10) {
    left: 78%;
    width: 107px;
    height: 107px;
    bottom: -107px;
    animation-delay: 36s;
}
.background li:nth-child(11) {
    left: 25%;
    width: 78px;
    height: 78px;
    bottom: -78px;
    animation-delay: 17s;
}
.background li:nth-child(12) {
    left: 18%;
    width: 264px;
    height: 264px;
    bottom: -264px;
    animation-delay: 25s;
}
.background li:nth-child(13) {
    left: 20%;
    width: 187px;
    height: 187px;
    bottom: -187px;
    animation-delay: 26s;
}
.background li:nth-child(14) {
    left: 3%;
    width: 205px;
    height: 205px;
    bottom: -205px;
    animation-delay: 12s;
}
.background li:nth-child(15) {
    left: 67%;
    width: 167px;
    height: 167px;
    bottom: -167px;
    animation-delay: 20s;
}
.background li:nth-child(16) {
    left: 25%;
    width: 54px;
    height: 54px;
    bottom: -54px;
    animation-delay: 79s;
}
.background li:nth-child(17) {
    left: 23%;
    width: 115px;
    height: 115px;
    bottom: -115px;
    animation-delay: 38s;
}
.background li:nth-child(18) {
    left: 45%;
    width: 102px;
    height: 102px;
    bottom: -102px;
    animation-delay: 5s;
}
.background li:nth-child(19) {
    left: 60%;
    width: 178px;
    height: 178px;
    bottom: -178px;
    animation-delay: 17s;
}
.background li:nth-child(20) {
    left: 56%;
    width: 45px;
    height: 45px;
    bottom: -45px;
    animation-delay: 38s;
}
.background li:nth-child(21) {
    left: 56%;
    width: 68px;
    height: 68px;
    bottom: -68px;
    animation-delay: 74s;
}
.background li:nth-child(22) {
    left: 63%;
    width: 59px;
    height: 59px;
    bottom: -59px;
    animation-delay: 61s;
}
.background li:nth-child(23) {
    left: 63%;
    width: 252px;
    height: 252px;
    bottom: -252px;
    animation-delay: 50s;
}
.background li:nth-child(24) {
    left: 22%;
    width: 180px;
    height: 180px;
    bottom: -180px;
    animation-delay: 73s;
}
.background li:nth-child(25) {
    left: 55%;
    width: 104px;
    height: 104px;
    bottom: -104px;
    animation-delay: 49s;
}
.background li:nth-child(26) {
    left: 37%;
    width: 162px;
    height: 162px;
    bottom: -162px;
    animation-delay: 98s;
}
.background li:nth-child(27) {
    left: 45%;
    width: 49px;
    height: 49px;
    bottom: -49px;
    animation-delay: 95s;
}
.background li:nth-child(28) {
    left: 82%;
    width: 155px;
    height: 155px;
    bottom: -155px;
    animation-delay: 68s;
}
.background li:nth-child(29) {
    left: 78%;
    width: 146px;
    height: 146px;
    bottom: -146px;
    animation-delay: 49s;
}
.background li:nth-child(30) {
    left: 20%;
    width: 273px;
    height: 273px;
    bottom: -273px;
    animation-delay: 35s;
}
.background li:nth-child(31) {
    left: 3%;
    width: 256px;
    height: 256px;
    bottom: -256px;
    animation-delay: 146s;
}
.background li:nth-child(32) {
    left: 57%;
    width: 261px;
    height: 261px;
    bottom: -261px;
    animation-delay: 76s;
}
.background li:nth-child(33) {
    left: 7%;
    width: 273px;
    height: 273px;
    bottom: -273px;
    animation-delay: 135s;
}
